/* Global Reset */
* {
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    z-index: 1000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow-x: hidden;
}

/* Container Styles */
.container {
    padding: 0 15px;
    width: 1000px;
}

/* Navbar Styles */
.navbar {
    background-color: transparent !important;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar-nav .nav-link {
    color: white !important;
    font-size: 1rem;
    font-weight: bold;
}
.navbar-nav .nav-item .nav-link:hover {
    background-color: #f8c291;
    border-radius: 20px;
    padding: 8px 20px;
}
.navbar .navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 0.937rem;
    font-weight: 600;
    padding: 0.625rem 1.25rem;
    border-radius: 50px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
}
.navbar-dark .navbar-toggler {
    /* color: #3c3c3c; */
    border-color: #f1ad50;
}
.navbar-collapse {
    padding: 25px 0;
}

/* Hero Section */
.hero {
    overflow: hidden;
    margin-top: 30px;
    position: relative;
    height: 100vh;
}
.carousel-item {
    height: 100vh;
}
.carousel-item img {
    object-fit: fill;
    height: 100%;
    width: 100%;
}
.carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
    text-align: left;
}
.carousel-caption.custom-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    text-align: left;
    height: 150px;
    width: 500px; /* Adjust as needed */
    background-color: transparent !important;
    color: #fff; /* Text color */
}
.carousel-caption h4 {
    font-size: 2rem;
    font-weight: bold;
    color: #056C7F;
}
.carousel-caption p {
    font-size: 18px;
    color: white !important;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
.carousel-indicators {
    bottom: 20px;
}
.carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #0e0d0d;
}

/* Media Queries */
@media only screen and (max-width: 576px) {
    .carousel-caption h2 {
        font-size: 19px;
        color: #f1ad50;
    }
    .carousel-caption p {
        font-size: 14px;
        font-weight: bold;
    }
    .hero{
        height: 30vh; /* Further adjust for extra small devices if needed */
    }
    .carousel-item{
      height: 30vh;
    }
    .image-container img {
        max-height: 150px; /* Further adjust for smaller devices */
    }
}


/* Text and Background Colors */
span {
    color: #f8c291;
}
.text-primary {
    color: #f1ad50 !important;
}
.bg-primary {
    color: #fff !important;
    background-color: #3b3b3b !important;
}
.bg-light {
    background-color: #f8f9fa;
}
.bg-dark {
    background-color: #3b3b3b !important;
}
.inner-page {
    background: #006bdf;
}

/* Button Styles */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #242121 !important;
    border-color: #f1ad50 !important;
    background: #f1ad50;
}
.btn-pill {
    border-radius: 50px;
}
.btn-outline-primary {
    color: #f1ad50;
    border-color: #f1ad50;
}
.btn-outline-primary:hover {
    color: #333;
    background-color: #f1ad50;
    border-color: #f1ad50;
}

/* Card Styles */
.card {
    border: 3px solid rgba(0, 0, 0, 0.6);
}
.card-body {
    background: #3b3b3b !important;
}
.card-body h5 {
    font-size: 15px;
    color: #f1ad50;
}
.card-body p {
    font-size: 13px;
}

/* Footer Styles */
footer.fixed-bottom {
    width: 100%;
    left: 0;
    bottom: 0;
}

/* Dropdown Styles */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Miscellaneous */
.desc {
    padding: 15px;
    text-align: center;
}
.wt-section {
    padding: 60px 0;
}
.contact-info .bg-white {
    background-color: #fff;
}
.contact-info .text-primary {
    color: #007bff;
}
.contact-info .border {
    border: 1px solid #dee2e6;
}
.wt-blockquote-v2 {
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 5px solid #007bff;
}
.wt-blockquote-v2__image {
    width: 50px;
    height: 50px;
}
.wt-box-shadow-lg {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.media {
    display: flex;
    align-items: center;
}
.media-body {
    padding-left: 10px;
}
.wt-font-size-90 {
    font-size: 0.9rem;
}
.wt-font-size-75 {
    font-size: 0.75rem;
}
.mr-3 {
    margin-right: 1rem;
}
.image-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.image-container img {
    width: 100%;
    height: 200px; /* Fixed height */
    object-fit: cover; /* Cover the container */
}
.btn-primary {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.modal-img {
    width: 100%;
    height: auto;
}
.price-card .card-body ul li {
    line-height: 38px;
}
.contact-info i {
    font-size: 24px;
}
.team-dp ul {
    display: block;
    margin: 0 auto;
    padding: 0;
}
.team-dp {
    text-align: center;
    display: block;
}

/* Carousel Styles */
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-caption {
    position: absolute;
    left: 10px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: yellow;
    text-align: left;
    top: 40%;
    max-width: 440px;
}

/* Selection Styles */
::-moz-selection {
    color: #fff;
    background-color: #490bf9;
}
::selection {
    color: #fff;
    background-color: #490bf9;
}
.bg-primary ::-moz-selection {
    color: #490bf9;
    background-color: #fff;
}
.bg-primary ::selection {
    color: #490bf9;
    background-color: #fff;
}
