{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>WPG | Wisdom Palace Group</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<!-- Bootstrap JS (optional for dropdown functionality) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzW9zCpeDffFVZrAo5Qx2xkuFzFg/ifX/pG5fm" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/mystyles.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <style>
        .data {
          margin-top: 80px;
        }
        .sidebar {
          position: fixed;
          top: 56px;
          bottom: 0;
          left: 0;
          z-index: 100; /* Stay on top of the .navbar */
          padding: 48px;  /* Height of navbar */
          overflow-x: hidden; /* Prevent horizontal scroll */
          overflow-y: auto; /* Enable scrolling */
          background-color: #f8f9fa; /* Light gray background */
          border-right: 1px solid #dee2e6; /* Gray border */
        }
        .sidebar-sticky {
          position: -webkit-sticky;
          position: sticky;
          top: 0; /* Height of navbar */
        }
        .sidebar .nav-link {
          color: #333;
        }
        .sidebar .nav-link.active {
          font-weight: bold;
        }
        .content {
          width: 100%;
          height: 100vh;
          border: none;
        }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}" style="color: white;">WPG | <span>Wisdom Palace Group</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item"><a class="nav-link" href="{% url 'index' %}#top">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'index' %}#services">Services</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'index' %}#about">About</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'index' %}#portfolio">Projects</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'index' %}#team">Team</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'index' %}#price">Price</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'index' %}#contact">Contact</a></li>
              </ul>
          </div>
      </div>
  </nav>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
            <div class="position-sticky sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" onclick="loadContent('view-order')">
                            <i class="fas fa-user-shield" style="font-size: 35px;"></i><br>ADMIN PANEL
                        </a>
                    </li>
                    
                    
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: Impact; font-size: 25px;">
                            OPERATIONS
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#" onclick="loadContent('Addproject')" style="font-size: 20px; font-family: 'Bahnschrift Light', cursive;">Projects</a>
                            <ul>
                                <li><a class="dropdown-item" href="/Addproject" onclick="loadContent('view-projects')" style="font-size: 20px; font-family: 'Bahnschrift Light', cursive;">Add Project</a></li>
                                <li><a class="dropdown-item" href="#" onclick="loadContent('view-projects')" style="font-size: 20px; font-family: 'Bahnschrift Light', cursive;">Update Project</a></li>
                                <li><a class="dropdown-item" href="#" onclick="loadContent('view-projects')" style="font-size: 20px; font-family: 'Bahnschrift Light', cursive;">Delete Project</a></li>
                            </ul>

                            <a class="dropdown-item" href="#" onclick="loadContent('add-products')" style="font-size: 20px; font-family: 'Bahnschrift Light', cursive;">Products</a>
                            <ul>
                                <li><a class="dropdown-item" href="#" onclick="loadContent('view-projects')" style="font-size: 20px; font-family: 'Bahnschrift Light', cursive;">Add Product</a></li>
                                <li><a class="dropdown-item" href="#" onclick="loadContent('view-projects')" style="font-size: 20px; font-family: 'Bahnschrift Light', cursive;">Update Product</a></li>
                                <li><a class="dropdown-item" href="#" onclick="loadContent('view-projects')" style="font-size: 20px; font-family: 'Bahnschrift Light', cursive;">Delete Product</a></li>
                            </ul>
                            <a class="dropdown-item" href="#" onclick="loadContent('add-new')" style="font-size: 20px; font-family: 'Bahnschrift Light', cursive;">Members</a>
                            <ul>
                                <li><a class="dropdown-item" href="#" onclick="loadContent('view-projects')" style="font-size: 20px; font-family: 'Bahnschrift Light', cursive;">New Member</a></li>
                                <li><a class="dropdown-item" href="#" onclick="loadContent('view-projects')" style="font-size: 20px; font-family: 'Bahnschrift Light', cursive;">Update Member</a></li>
                                <li><a class="dropdown-item" href="#" onclick="loadContent('view-projects')" style="font-size: 20px; font-family: 'Bahnschrift Light', cursive;">Delete Member</a></li>
                            </ul>
                            <a class="dropdown-item" href="#" onclick="loadContent('add-event')" style="font-size: 20px; font-family: 'Bahnschrift Light', cursive;">Events</a>
                            <ul>
                                <li><a class="dropdown-item" href="#" onclick="loadContent('view-projects')" style="font-size: 20px; font-family: 'Bahnschrift Light', cursive;">New Event</a></li>
                                <li><a class="dropdown-item" href="#" onclick="loadContent('view-projects')" style="font-size: 20px; font-family: 'Bahnschrift Light', cursive;">Update Event</a></li>
                                <li><a class="dropdown-item" href="#" onclick="loadContent('view-projects')" style="font-size: 20px; font-family: 'Bahnschrift Light', cursive;">Delete Event</a></li>
                            </ul>
                        </div>
                        </li>
                    
                    
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div id="content-area" class="data container">
                <!-- Content will be loaded here dynamically -->
            </div>
        </main>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    AOS.init(); // Initialize AOS for animations

    function loadContent(page) {
        $.ajax({
            url: page + '/',
            success: function(data) {
                $('#content-area').html(data);
            }
        });
    }
</script>
</body>
</html>
