{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>WPG | Wisdom Palace Group</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Bootstrap JS (optional for dropdown functionality) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzW9zCpeDffFVZrAo5Qx2xkuFzFg/ifX/pG5fm" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/mystyles.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>

</head>
<body>
  <div class="card content">
          <div class="card-header">
            <center>
            <h1>ADMIN DASHBOARD</h1></center>
          </div>
          <div class="card-body">
            <h1>{{ member.fullname }}</h1>
            <p>Telephone: {{ member.telephone }}</p>
            <p>Email: {{ member.email }}</p>
            <p>Role: {{ member.role }}</p>
            <p>Facebook: {{ member.facebook_link }}</p>
            <p>Instagram: {{ member.instagram_link }}</p>
            <p>Twitter:{{member.twitter_link }}
            <p><a href="{{ member.cv.url }}" class="btn btn-info">Download CV</a></p>
            <a href="{% url 'member_update' member.pk %}" class="btn btn-warning">Edit</a>
            <a href="{% url 'member_delete' member.pk %}" class="btn btn-danger">Delete</a>
            <a href="{% url 'member_list' %}" class="btn btn-secondary">Back to Member List</a>
          </div>
        </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</body>
</html>
