{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>WPG | Wisdom Palace Group</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--A nother styles-->
       <!-- Bootstrap icons-->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
   <!-- Google fonts-->
   <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
   <!-- Core theme CSS (includes Bootstrap)-->
   <link href="{% static 'css/styles.css '%}" rel="stylesheet"/>
    <link rel="{% static 'css/stylesheet" href="styles1.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!--end of another styles-->

    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'css/mystyles.css' %}" /> 
    <style type="text/css">
        header {
            background-color: #f8f9fa;
            padding: 50px;
            text-align: center;
            font-size: 24px;
        }
        
        .container {
          padding:20px;
            display: flex;
            margin-left:20px;
            gap:1cm;
        }
        
        .sidebar {
            width: 30%;
            padding: 1px;
            background-color: #f1f1f1;
            margin-left:20px;
        }
        
        .main-content {
            width: 70%;
            padding: 10px;
        }
        
        .sidebar table {
            width: 50%;
            border-collapse: collapse;
  
        }
        
        .sidebar table, .sidebar th, .sidebar td {
            border: 1px solid black;
        }
        
        .sidebar th, .sidebar td {
            padding: 8px;
            text-align: left;
        }
        {% comment %} .image img {
          max-width: 100%;
          height: auto;
          border: 1px solid #ddd;
          border-radius: 4px;
          padding: 20px;
      } {% endcomment %}
    </style>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">WPG | <span> Wisdom Palace Group</span> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#top">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Prejects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#price">Price</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
            <div class="language-selector dropdown">
              <button class="btn dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-globe"></i> EN
              </button>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                  <li><a class="dropdown-item" href="#">EN</a></li>
                  <li><a class="dropdown-item" href="#">KINY</a></li>
                  <li><a class="dropdown-item" href="#">FR</a></li>
              </ul>
          </div>
        </div>
    </div>
</nav>
 <!-- body-->

 <body>
    <center>
     <!-- table  section-->
     <h1>Projects</h1>
     <div class="container">
        <div class="sidebar">
            <table border="1" width="40px">
                <tr>
                    <th>Title</th>
                    <th>Height(/m)</th>
                    <th>Width(/m)</th>
                    <th>Date Published</th>
                    <th>Amount (Frws)</th>
                </tr>
                {% for i in Ptables %}
                <tr>
                    <td>{{ Ptables.title }}</td>
                    <td>{{ Ptables.height }}</td>
                    <td>{{ Ptables.width }}</td>
                    <td>{{ Ptables.date_published }}</td>
                    <td>{{ Ptables.amount }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
     <!--end of table section-->
    <div>
        <div class ="image">
          <img src="{% static 'img/portfolio/img1.jpg' %}" alt="project1" width="80%" height="30%">
        </div>
          <!-- <button type="submit"><a href= "#">SIGNUP</a></button>-->
       <a href= "{%url 'index'%}" style="text-decoration:none">
        <span class="material-symbols-outlined">
           home
           </span>
           <h3>Back</h3>
       </a>
    </div>
    <center>
</body>
  <!-- end body -->

    <!-- Footer -->
    <footer class="bg-dark py-1 fixed-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-8 text-center text-md-left mb-3 mb-md-0">
            <small class="text-white">
              <a class="text-white" href="https://webthemez.com/free-bootstrap-templates/">Bootstrap Theme</a> by WebThemez.
              <br />&copy; All Rights Reserved
            </small>
          </div>
    
          <div class="col-md-4 align-self-center">
            <ul class="list-inline text-center text-md-right mb-0">
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Facebook">
                <a class="text-white" target="_blank" href="https://www.facebook.com/Maxi">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Instagram">
                <a class="text-white" target="_blank" href="https://www.instagram.com/Maxi">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Twitter">
                <a class="text-white" target="_blank" href="https://twitter.com/Maxi">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Dribbble">
                <a class="text-white" target="_blank" href="https://dribbble.com/Maxi">
                  <i class="fab fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    
    <!-- End Footer -->
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Components Vendor  --> 
    <script src="{% static  '/vendors/slick-carousel/slick.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
    <script src="{% static  '/vendors/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static  '/vendors/counters/waypoint.min.js' %}"></script>
    <script src="{% static  '/vendors/counters/counterup.min.js' %}"></script>

	<script src="{% static  'contact/jqBootstrapValidation.js' %}"></script>
	<script src="{% static  'contact/contact_me.js' %}"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{% static  '/js/scrolling-nav.js' %}"></script>
    <!--Plugin Initialize-->
    <script src="{% static  '/js/global.js' %}"></script>

    <!-- Theme Components and Settings --> 
    <script src="{% static  '/vendors/carousel.js' %}"></script>
    <script src="{% static  '/vendors/counters.js' %}"></script>
	
    <!-- END JAVASCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Your modal content goes here...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
<script>
  AOS.init();
</script>
  </body>
  <!-- End Body -->
</html>